*{
	margin: 0;
	padding: 0;
}
body
	{
	background-image: url("modelback4.png");height: 1750px;
	margin: 0;padding: 0;background-repeat: no-repeat;background-color: #fff;
	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#ffffff;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0;
		
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.buttons {
position: absolute;
left: 580px;
top: 45px;
transform: translateX(-50%) translateY(-50%);
font-family: Helvetica;
display: inline-block;
border-radius: 4px;
border: none;
text-align: center;
font-size: 24px;
padding: 10px;
transition: 0.5s;
cursor: pointer;
margin: 5px;
width: 1000px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

.next-button {
  position: relative;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #b1962d;
  display: inline-block;
  height: 36px;
  font-weight: bolder;
  line-height: 36px;
  padding: 0 1rem;
  cursor: pointer;
}

.next-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: -36px;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #b1962d;
  border-right: 18px solid transparent;
  cursor: pointer;
}
.next-button2 {
  position: relative;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #b1962d;
  display: inline-block;
  height: 36px;
  font-weight: bolder;
  line-height: 36px;
  padding: 0 1rem;
  cursor: pointer;
}

.next-button2::after {
  position: absolute;
  content: "";
  top: 0;
  left: -36px;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:  18px solid #b1962d;
  border-left:  18px solid transparent;
  cursor: pointer;
}
.pic2
{
	position: absolute;
	left:1150px;
	top: 130px;
	width: 600px;
	height:560px;
	border-radius:40px;
	margin: auto ;
	background:#fff;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 60px;
}
.pic3
{
	position: absolute;
	left:1200px;
	top: 740px;
	width:550px;
	height:300px;
	border-radius:40px;
	margin: auto ;
	background:#979a9a;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 60px;
}
.contentTable
{
	width: 400px;
	height: 200px;
	padding: 0.5px ;
	font-size: 20px;
	background: #ffffff;
	border-bottom: 1px solid #fff;
	text-align: center;
	border-radius: 3px;
}
.trTable
{
	font-weight: bold;
	font-style: italic;
	background:#ECF0F1;
	padding: 40px;
	color:black;
	border-bottom: 1px solid #A29DA7;

}
.trTable0
{
	font-weight: bold;
	font-style: italic;
	background:#909497 ;
	padding: 40px;
	color: #ffffff;
	border-bottom: 1px solid #556555;	

}

.turnpage {
	transform: translateY(200px);
}

input[type='color']{
	position: absolute;
	top: 200px;
	left: 35px;
	z-index: 2;
}
.bg{
	position: absolute;
	top: 165px;
	left: 25px;
	width: 1050px;
	height: 585px;
	mix-blend-mode: hue;
}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#more1 {display: none;}
#more2 {display: none;}
li:hover {
	background-color: #979a9a;
	transition: 0.5s;
}
li {
	transform: translateX(20px);
}