body
	{
	margin: 0;
	padding: 0;
	background-image: url("background.png");
	width: 1900px

	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background-color: #878787;width: 1900px;height: 110px;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#878787;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0;
		
	}
.photo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		top: 109px;
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}.buttons {
		position: absolute;
		left: 1000px;
		top: 45px;
		transform: translateX(-50%) translateY(-50%);
		font-family: Helvetica;
		display: inline-block;
		border-radius: 4px;
		border: none;
		text-align: center;
		font-size: 24px;
		padding: 10px;
		transition: 0.5s;
		cursor: pointer;
		margin: 5px;
		width: 1000px;
		}.buttons1:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons2:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons3:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons4:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons5:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
li:hover {
	background-color: #878787;
	transition: 0.5s;
}
li {
	transform: translateX(-20px);
}
.img, .img1, .img2, .img3, .img4, .img5, .img6, .img7
{
	width: auto;
	height: 320px;
	margin: 30px;
	padding: 10px 20px ;
	background-color:#e6e6e6;
	border: 8px double #000;
	border-radius: 40px;
}
.price, .Unavailable
{
    color: #270249;
    font-weight: bold;
    font-family:Helvetica;
    font-size: 30px;
		display: inline-block;
		position: absolute
}
.Unavailable
{
		transform: translateX(243px) translateY(110px);
}
.price
{
		transform: translateX(800px) translateY(-180px);
}
.details{
	background-color: #000;
	width: auto;
	color: #fff;
	font-size: 35px;
	transform: translateX(741px) translateY(-70px);
	border: 4px groove #fff;
  text-transform: capitalize;
	cursor: pointer;
	position: absolute
}
.details:hover
{
	color: #000;
	background-color: #fff;
}
.name
{
	  font-weight: bold;
    font-size: 50px;
	  text-shadow: 3px 2px #fff;
		transform: translateX(710px) translateY(-320px);
		cursor: pointer;
		position: absolute
}
.name:hover
{
	color:#4d004d;
}
.view
{
		border-radius: 12px;
		border: 15px solid #000 ;
		color: white;
		padding: 15px 32px;
		text-align: center;
		font-size: 30px;
    font-family: Arial;
		font-weight:600;
    text-transform: uppercase;
		margin: 8px 5px;
    padding: 15px 20px;
		cursor: pointer;
		background-color:#878787;
		position: absolute;
		left:790px;
		top: auto;
		}
.view:hover {
  box-shadow: 5px 24px 32px 5px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background:#000;
}
