
body
	{
	margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: #3C546C;
	}
p
{
    font-family:'Acme',sans-serif;
    font-weight: bold;
    line-height:32px;
    font-size:1.2em;
    color:#E5E5E5;
}
.Intro
	{
	margin: 0;
	padding: 0;
    background: #3C546C;
    width: 100%;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#3C546C;
		font-weight: bold;
		color: #000;
		margin: 0;
		padding: 0;	
	}
input:hover
{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}.buttons {
		cursor: pointer;
		position: absolute;
		left: 1000px;
		top: 54px;
        width: 1000px;
		transform: translateX(-50%) translateY(-50%);
		font-family: sans-serif;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  transition:  0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #000;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
.vid
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
}
.vid video
{
    position: absolute;
    top: 150;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.car{
    position: absolute;
    transform: translate(80px,780px);
    font-family: sans-serif;
    background: #3C546C;
    font-size: 2.5em;
    color:#fff;
}
.pros
{
    background: #ccc;
    text-align: center;
    border-radius: 40px;
    font-family: sans-serif;
    position: absolute;
    transform: translate(1270px,480px);
    width: 700px;
    height: 1450px;
}
.contentTable
{
    border-radius: 1px;
    border: 1px solid #B7B7B7;
    border-collapse: collapse;
    box-shadow: 0 2px 12px rgba(32,32,32,0.3);
}
th,td
{
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
    padding: 10px 15px;
    border: 1px solid #B7B7B7;
}
th
{
    color: #fff;
    background: #273747;
}
td:hover
{
    background: #8898A8;
    color: #fff;
}
.cars
{
    position: relative;
    top: 50px;
    left: 90;
    display:inline-block;
    font-size:20px;
    color:#fff;
    padding:5px;
    width:500px;
    height: 60px;
    display:block;
    background-color: #2A2F34;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-family: sans-serif;
    margin-top: 50px;
}
.cars:hover
{
    background: #63707C;
    border-radius: 20px;
    color:#000;
}
.buyNow
{
    position: absolute;
    top: 1230;
    right: 110px;
    display:inline-block;
    font-size:20px;
    color:#fff;
    padding:5px;
    width:500px;
    height: 60px;
    display:block;
    background-color: #b1962d;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-family: sans-serif;
    margin-top: 50px;
}
.buyNow:hover
{
    color:#000;
    background: #E1BF3D;
    border-radius: 20px;
}
.priceHover
{
    color: #fff; 
    font-size: 36px;
    margin-top: 1px; 
}
.priceHover:hover
{
    color: #000;
    background:#819DB7 ;
}
.color
{
    background: transparent;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    transform: translate(1270px,2000px);
    width: 700px;
    height: 550px
}

input[type='color']{
    width:70px;
    height: 50px;
	position: absolute;
	top: 10px;
	left: 0px;
	z-index: 2;
}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;   
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
li:hover {
	background-color: #3F5B76;
	transition: 0.5s;
    border-radius: 9px;
}
li {
	transform: translateX(-20px);
}
@keyframes mymove{
    0% {opacity:0;}
}