body{
	margin: 0;padding: 0;
}
.back
	{
	background-image: url("stacco-news-destkop.svg");
	margin: 0;padding: 0;background-repeat: no-repeat;height: 80%;transform: translateY(28%);
	}
.text{
	text-align: center;
	color:#3E493E;
	font-size: 20px !important;
	font-family: Helvetica;
}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background-color: #556555;width: 1900px;height: 110px;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#556555;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0;
		
	}
.photo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		top: 109px;
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.buttons {
	position: absolute;
	left: 1000px;
	top: 45px;
	transform: translateX(-50%) translateY(-50%);
	font-family: Helvetica;
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	transition: 0.5s;
	cursor: pointer;
	margin: 5px;
	width: 1000px;
	}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}.buttons5:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}.buttons1:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons2:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons3:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttons4:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.null
{
	width: 900px;
	border-radius:20px;
	margin: auto ;
	padding: 40px;
	background-color: #778F77;
	margin-top: 30px;
	text-align: center;
	color:#ffffff;
	font-size: 14px;
}
.one
{
	width: 350px;
	height: 55px;
	border-radius:8px;
	margin: 7px ;
	background:#fff;
	padding: 5px;
	color: #454545;
	margin-top: 30px;
}
.two
{
	width: 700px;
	height:100px;
	border-radius:8px;
	margin:7px ;
	background:#fff;
	padding: 5px;
	color: #454545;
	margin-top: 20px;
}
input[type=text]
{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background:#fff;
	outline: none;
	border-bottom: 1px dotted #fff;
	color: #454545;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
	border-color: #556555;
	border: 5px;
	font-family: YbtFonts;
}
input[type=email]
{
	width: 50%;
box-sizing: border-box;
	padding: 12px 5px;
	background:#fff;
	outline: none;
	border-bottom: 1px dotted #fff;
	color: #454545;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
	border-color: #556555;
	border: 5px;
	font-family: YbtFonts;
}
input[type=submit]
{
	width: 120px;
	box-sizing: border-box;
	padding: 12px 5px;
	background: #646869;
	outline: none;
	color: white;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
}
input[type=submit]:hover{background:#99A3A4 ;}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
li:hover {
	background-color: #839883;
	transition: 0.5s;
}
li {
	transform: translateX(-20px);
}