body
	{
	margin: 0;padding: 0;
	
	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background-color: #556555;width: 1900px;height: 110px;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#556555;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0;
		
	}
.photo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		top: 109px;
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.square {
		background-color:#e5e5e5;
		width: 1300px;
		height: 1650px;
		padding: 50px;
		margin: 20px;
		position: absolute;
		left: 950px;
		top: 1655px;
		transform: translateX(-50%) translateY(-50%);
		font-family: Helvetica;
		font-size: xx-large;
		}
.mercedes {
		padding: 0;
		margin: 0;
		position: absolute;
		left: 590px;
		top: 1200px;
		transform: translateX(-50%) translateY(-50%);
		}
.bmw {
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1400px;
		top: 1700px;
		transform: translateX(-50%) translateY(-50%);
		}
.audi {
		padding: 0;
		margin: 0;
		position: absolute;
		left: 580px;
		top: 2200px;
		transform: translateX(-50%) translateY(-50%);
		}
.phototext {
		padding: 50px;
		margin: 20px;
		position: absolute;
		left: 750px;
		top: 80px;
		font-family: Helvetica;
		font-size:44px;
		color: #fff;
		opacity: 0.8;
		width: 800px;
}

#changingword {
  color:#fff;
}
.buttons {
		position: absolute;
		left: 1000px;
		top: 45px;
		transform: translateX(-50%) translateY(-50%);
		font-family: Helvetica;
		display: inline-block;
		border-radius: 4px;
		border: none;
		text-align: center;
		font-size: 24px;
		padding: 10px;
		transition: 0.5s;
		cursor: pointer;
		margin: 5px;
		width: 1000px;
		}
.infotext {
		align-items: center;
		font-family: Helvetica ;
		font-size:46px;
		color: #556555;
		}
.infotext1 {
		align-items: center;
		font-weight: bold;
		font-family: Helvetica ;
		font-size:30px;
		color: #454545;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 700px;
		top: 30px;
		}
.infotext2 {
		font-weight: bold;
		font-family: Helvetica ;
		font-size:30px;
		color: #454545;
		padding: 0;
		margin: 0;
		position: absolute;
		left: -750px;
		top: 40px;
		}
.infotext3 {
		align-items: center;
		font-weight: bold;
		font-family: Helvetica ;
		font-size:30px;
		color: #454545;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 600px;
		top: 20px;
		}
.ourmodels {
		position: absolute;
		left:580px;
		top: 3000px;
		transform: translateX(-50%) translateY(-50%);
		}
.infotext4 {
		align-items: center;
		font-family: Helvetica ;
		font-size:40px;
		color: #556555;
		position: absolute;
		left:50%;
		top: -10%;
		transform: translateX(-50%) translateY(-50%);
		}
.viewcars {
		border-radius: 12px;
		font-family: Helvetica ;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		font-size: 40px;
		margin: 4px 2px;
		cursor: pointer;
		background-color:#556555;
		position: absolute;
		left:200px;
		top: 70px;
		}

.square {border-radius: 48px;}
q {
	align-items: center;
	font-weight: bold;
	color: #454545;
	}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.pic1
{
	position: absolute;
	left:900px;
	top:2800px;
	transform: translateX(-35%) translateY(-50%);
	margin: 0px ;
	padding: 0px;
	animation: slider 5s infinite linear;
	background-repeat: no-repeat;
	width: 380px;
	height: 300px;
}
@keyframes slider{
	0%{background-image: url("Audi logo.png");}
	33.3%{background-image: url("bmw logo.png"); }
	66.6%{background-image: url("mercedes logo.png");}
	100%{background-image: url("Audi logo.png");}

}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
li:hover {
	background-color: #839883;
	transition: 0.5s;
}
li {
	transform: translateX(-20px);
}
/* footer*/
.footer {
	position: relative;
	transform: translateY(3150px);
}

.footer .footer-bottom {
	background-color: #343a40;
	color: #686868;
	height: 30px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 15px;
	width: 100%;
}