body
	{
	background-color: #751432;height: 2500px;
	margin: 0;padding: 0;background-repeat: no-repeat;
        width: 1200px;
	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#c7c7c7;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0;
		
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: -200px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.buttons {
		border: none;
		text-align: center;
		cursor: pointer;
		position: absolute;
		left: 900px;
		top: 45px;
		transform: translateX(-50%) translateY(-50%);
		font-family: sans-serif;
		width: 1000px;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

li {
	transform: translateX(-20px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #751432;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.prosAndCons{
    transform: translate(100px,180px);
    font-size: 35px;
    color: white;
}
.details
{
    font-size: 25px;
    width: 1200px;
}
.name
{
    transform: translate(500px,150px);
    color: white;
    font-size: 60px;
    width: 800px;

}
.name:hover{
    color: #9F721D;
}
.comments{
    transform: translate(500px,200px);
    color: white;
    font-size: 40;
}
.add{
    background-color: #717D7E;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    font-size: 50px;
    padding-bottom: 55px;
    margin-top: 50px;
}
.next{
    display: none;
    background-color: #717D7E;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top:50px;
    margin-left: 700px;
    
}
.post{
   display: none;
    background-color: #717D7E;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top:50px;
    margin-left: 700px;
    
}
.animate
{
    padding: 16px;
    display: none;
    opacity: .1;
   
   
}
.header
{
  
    width: 1899px;
    height: 100px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c7c7c7;
   
}
.sticky
{
    
    z-index: 10;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    background-color: #c7c7c7 ;
   
   
}
.sticky input
{
    background-color: #c7c7c7 ;
}
