body
	{
	background-image: url("modelback4.png");height: 1750px;
	margin: 0;padding: 0;background-repeat: no-repeat;background-color: #202020;
	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#202020;
		color: #ffffff;
		font-weight: bold;
		margin: 0;
		padding: 0;
		
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.buttons {
	position: absolute;
	left: 580px;
	top: 45px;
	transform: translateX(-50%) translateY(-50%);
	font-family: Helvetica;
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	transition: 0.5s;
	cursor: pointer;
	margin: 5px;
	width: 1000px;
	}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
.buttons1:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}
.buttons2:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}
.buttons3:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}
.buttons4:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}
.buttons5:hover {
  box-shadow: 0 24px 32px 0 rgba(0,0,0,0.8),0 17px 50px 0 rgba(0,0,0,0.7);
}
.pic1
{
	position: absolute;
	left:50%;
	top: 50%;
	width: 1050px;
	height: 560px;
	transform: translateX(-50%) translateY(-50%);
	margin: 0px ;
	margin-top: -5px;
	background-size: 100% 100%;
	padding: 0px;
	cursor: pointer;
	box-shadow: 1px 2px 5px 5px white;
}
.imgslider {display:none;}
.imgslider1 {
	position: absolute;
	left:50%;
	top: 50%;
	width: 1050px;
	height: 560px;
	transform: translateX(-50%) translateY(-50%);
	margin-top: -5px;
	margin: 0px ;
	}
.display-left {
	background-color: white;
	color: black;
	width: 30px;
	height: 30px;
	left:0%;
	top: 50%;
	position: absolute;
	cursor: pointer;
	transition: 0.3s;
}
.display-left:hover{
	background-color:#202020;
	color: white;
}
.display-right {
	background-color: white;
	color: black;
	width: 30px;
	height: 30px;
	right:0%;
	top: 50%;
	position: absolute;
	cursor: pointer;
	transition: 0.3s;
	
}
.display-right:hover{
	background-color:#202020;
	color: white;
}
.next-button {
  position: relative;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #b1962d;
  display: inline-block;
  height: 36px;
  font-weight: bolder;
  line-height: 36px;
  padding: 0 1rem;
}

.next-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: -36px;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #b1962d;
  border-right: 18px solid transparent;
}
.next-button2 {
  position: relative;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #b1962d;
  display: inline-block;
  height: 36px;
  font-weight: bolder;
  line-height: 36px;
  padding: 0 1rem;
}

.next-button2::after {
  position: absolute;
  content: "";
  top: 0;
  left: -36px;
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:  18px solid #b1962d;
  border-left:  18px solid transparent;
}
.smallPic
{
	width:70px;
	height:50px;
	border-radius: 45px;
	background-color:#b1962d;
	position: absolute;
	left:460px;
	top: 220px;

}
.turnpage {
	position: absolute;
	left:730px;
	top: 1500px;
}
.video{
    left:90px;
	width: 1050px;height: 560px;
	position: absolute;
	transform: translate(350px,900px);
	padding:0px;
	margin: 0px;
    border-radius: 40px;
    cursor: pointer;
}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
li:hover {
	background-color: #979a9a;
	transition: 0.5s;
}
li {
	transform: translateX(-20px);
}