body
	{
	background-image: url("modelback3.png");
	margin: 0;padding: 0;background-repeat: no-repeat;
   	height: 1800px;background-color: #202020;
	}
.Intro
	{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	}
input
	{
		font-size: x-large !important; border: 20px;
		background-color:#202020;
		font-weight: bold;
		color: #ffffff;
		margin: 0;
		padding: 0;
		
	}
.logo
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 50px;
		top: 20px;
		cursor: pointer;
	}
.signout
	{
		padding: 0;
		margin: 0;
		position: absolute;
		left: 1725px;
		top: 28px;
		cursor: pointer;
	}
.buttons {
	position: absolute;
	left: 580px;
	top: 45px;
	transform: translateX(-50%) translateY(-50%);
	font-family: Helvetica;
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	transition: 0.5s;
	cursor: pointer;
	margin: 5px;
	width: 1000px;
	}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
.picbox {
	background-color: #C98B29;
	width: 720px;
	color: #fff;
	height: 60px;
	transform: translate(1000px,250px);
}
.picall {
	background-color: #fff;
	width: 720px;
	height: 800px;
	border-radius: 18px;
	opacity: 0.7;
	transform: translate(1000px,300px);
}
.pictext {
	font-family:Helvetica ;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	transform: translate(1430px,205px);
	position: absolute;
}
.pictext2 {
	font-family:Helvetica ;
	color: #fff;
	text-align: center;
	background-color: #ec9917;
	width: 125px;
	height: 45px;
	font-size: 30px;
	font-weight: bold;
	transform: translate(1070px,205px);
	position: absolute;
}
.pic1
{
	position: absolute;
	left:1010px;
	top: 380px;
	width: 800px;
	height: 560px;
	margin: 0px ;
	margin-top: -5px;
	padding: 0px;
	cursor: pointer;
}
.pic2
{
	position: absolute;
	left:220px;
	top: 700px;
	width: 470px;
	height: 800px;
	border-radius:40px;
	margin: auto ;
	background:#202020;
	box-sizing: border-box;
	padding: 40px;
	margin-top: 60px;
}
.contentTable
{
	width: 400px;
	height: 200px;
	padding: 0.5px ;
	font-size: 20px;
	background: #202020;
	border-bottom: 1px solid #fff;
	text-align: center;
	border-radius: 3px;
}
.trTable
{
	font-weight: bold;
	font-style: italic;
	background:#2c2c2c;
	padding: 40px;
	color:white;
	border-bottom: 1px solid #A29DA7;

}
.trTable0
{
	font-weight: bold;
	font-style: italic;
	background:#909497 ;
	padding: 40px;
	color: #ffffff;
	border-bottom: 1px solid #556555;	

}
.smallPic
{
	width:70px;
	height:50px;
	border-radius: 45px;
	background-color:#b1962d;
	position: absolute;
	left:40px;
	top: 40px;

}
._p1
{
	position: absolute;
	transform: translate(1550px,0px);
	width: 150px;
	height:120px;
	border-radius:20px;
	box-sizing: border-box;
	cursor: pointer;
}
._p2
{
	position: absolute;
	transform: translate(1380px,0px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;
}
._p3
{
	position: absolute;
	transform: translate(1210px,0px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;

}
._p4
{
	position: absolute;
	transform: translate(1040px,0px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;

}
._p5
{
	position: absolute;
	transform: translate(1550px,140px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;
}
._p6
{
	position: absolute;
	transform: translate(1380px,140px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;

}
._p7
{
	position: absolute;
	transform: translate(1210px,140px);
	width: 150px;
	height:120px;
	border-radius:20px;
	margin: auto ;
	box-sizing: border-box;
	cursor: pointer;

}
.video{
	width: 700px;height: 420px;
	position: absolute;
	transform: translate(1020px,340px);
	padding:0px;
	margin: 0px;
    border-radius: 20px;
    cursor: pointer;
}
/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
li:hover {
	background-color: #6c798b;
	transition: 0.5s;
}
li {
	transform: translateX(-20px);
}
.list-pros {
	list-style: none;color: #fff;list-style-position: outside;font-family: Helvetica;font-size: 26px;font-weight: bold;width: 500px;
}
.list-cons {
	list-style: none;color: #fff;list-style-position: outside;font-family: Helvetica;font-size: 26px;font-weight: bold;width: 500px;
}
.pros {color: #fff;}
.cons {
	position: absolute;
	transform: translate(500px,-324px);color: #fff;
}
.review {
	position: absolute;
	transform: translate(20px,-580px);
	border: 1px;
	border-color: #000;
}
.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: -10px;
  font-family: opensans;
  color: #fff;
}
.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  font-family: opensans;
  color: #fff;
}